{% extends 'comenius/base.html' %}

{% block main %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id_name">
                Name
            </label>
            <input type="text" name="name" id="id_name" value="{{form.name.value}}" />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> &Ouml;ffentlich
            </label>
        </div>
        <div class="form-group">
          <label for="id_category">
            Kategorie
          </label>
          {% for field in form %}
          {% if field.label == "Category" %}
          {{field}}
          {% endif %}
          {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Abschicken</button>
    </form>
{% endblock main %}
