{% extends 'comenius/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load comenius_extra %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'comenius/js/galleria-1.3.5.min.js' %}"></script>
<style>
.galleria{height:500px;margin-right: 20px; background #000}
</style>
{% endblock scripts %}


{% block main %}
<div class="row">
  {% if user == object.owner or user.is_staff %}
  <div class="col-sm-11 col-md-11">
    <div class="panel">
      <h3>Bild hinzuf&uuml;gen
        <span class="pull-right">
          {% include 'comenius/album_control.html' %}
        </span>
      </h3>
      <form action="{% url 'comenius:image-album-add' %}" method="post" enctype="multipart/form-data" >
        <div class="form-group">
          <input type="file" name="image"/>
        </div>
        <div class="form-group">
          <input type="text" name="description" placeholder="Beschreibung" />
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="public"> &Ouml;ffentlich
          </label>
        </div>
        <input type="hidden" name="album" value="{{album.pk}}" id="" />
        {% csrf_token %}
        <button class="btn btn-default" type="submit">Abschicken</button>
      </form>
    </div>
  </div>
  {% endif %}
  <div class="galleria" id="galleria">
    {% for image in object.images.all %}
    <div class="thumbnail">
      {% thumbnail image.image "500" as im %}
      <img src="{{im.url}}" data-big="{{image.image.url}}" title="{{image.description}}">
      {% endthumbnail %}
    </div>
    {% endfor %}
  </div>
  <a href="#" id="fullscreen">Vollbild</a>
</div>
<script>
Galleria.loadTheme('{% static 'comenius/js/themes/classic/galleria.classic.min.js' %}');
Galleria.run('.galleria', {
autoplay: 7000
});
$('#fullscreen').click(function(){
    $('#galleria').data('galleria').toggleFullscreen();
    });
</script>
{% endblock %}
