{% extends 'comenius/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load comenius_extra %}

{% block scripts %}
{{block.super}}
<script src="{% static 'comenius/js/barousel.jquery.js' %}"></script>
{% endblock %}


{% block main %}
    <div class="row">
        {% if user == object.owner %}
        <div class="col-sm-12 col-md-12">
            <div class="panel">
            <h3>Bild hinzuf&uuml;gen
                <span class="pull-right">
                    {% include 'comenius/album_control.html' %}
                </span>
            </h3>
            <form action="{% url 'comenius:image-album-add' %}" method="post" enctype="multipart/form-data" >
                <div class="form-group">
                    <input type="file" name="image"/>
                </div>
                <div class="form-group">
                    <input type="text" name="description" placeholder="Beschreibung" />
                  </div>
                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="public"> &Ouml;ffentlich
                </label>
                </div>
                <input type="hidden" name="album" value="{{album.pk}}" id="" />
                {% csrf_token %}
                <button class="btn btn-default" type="submit">Abschicken</button>
            </form>
            </div>
        </div>
        {% endif %}
        {% for image in object.images.all %}
        {% if forloop.counter0|mod:2 %}
        <div class="col-sm-6 col-md-6">
            <a href="{{image.image.url}}" class="thumbnail">
                {% thumbnail image.image "500" as im %}
                <img src="{{im.url}}" title="{{image.description}}">
                {% endthumbnail %}
            </a>
        </div>
        {% endif %}
        {% empty %}
            <b>Noch keine Bilder vorhanden!</b>
        {% endfor %}
       
        {% for image in object.images.all %}
        {% if forloop.counter|mod:2 %}
        <div class="col-sm-6 col-md-6">
            <a href="{{image.image.url}}" class="thumbnail">
                {% thumbnail image.image "500" as im %}
                <img src="{{im.url}}" title="{{image.description}}">
                {% endthumbnail %}
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="carousel" class="barousel">
      <div class="barousel_image">
        {% for image in object.images.all %}
        <img src="{{image.image.url}}">
        {% endfor %}
      </div>
      <div class="barousel_nav"></div>
    </div>
    <script>
      $('#carousel').barousel();
    </script>
{% endblock %}
