{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'comenius/css/style.css' %}" rel="stylesheet" media="screen">
{% endblock style %}


{% block navigation %}
    {% include 'comenius/navbar.html' with appname=appname site=site%}
{% endblock navigation %}


{% block container %}
    <header>
    {% block header %}
        <h1>{{title}}</h1>
        {% block subtitle %}
        
        {% endblock %}
    {% endblock header %}
    </header>
    <section class="content">
        <article class="main">
        {% block main %}
        {% endblock main %}
        </article>
        <aside>
        {% block aside %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#disclaimerPanel">
                                EU F&ouml;rderung
                            </a>
                        </h4>
                    </div>
                    <div id="disclaimerPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <i>Dieses Projekt wurde mit Unterstützung der Europäischen Kommission finanziert.
                            Die Verantwortung für den Inhalt dieser Veröffentlichung (Mitteilung) trägt allein
                            der Verfasser, die Kommission haftet nicht für die weitere Verwendung der darin
                            enthaltenen Angaben.</i>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#linkPanel">
                                Links
                            </a>
                        </h4>
                    </div>
                    <div id="linkPanel" class="panel-collapse collapse">
                        <div class="list-group">
                                <a href="http://sainte-anne.lu/" class="list-group-item">École privée Sainte-Anne, Ettelbruck, Luxemburg</a>
                                <a href="http://www.kanti-wohlen.ch/home-de.xhtm" class="list-group-item">Kantonsschule Wohlen, Wohlen Ag, Schweiz</a>
                                <a href="http://www.dhg-freiburg.de/joomla/" class="list-group-item">Droste-Hülshoff-Gymnasium, Freiburg, Deutschland</a>
                                <a href="http://www.bgdornbirn.at/" class="list-group-item">Bundesgymnasium Dornbirn, Dornbirn, &Ouml;sterreich</a>
                                <a href="http://en.unesco.org/" class="list-group-item">UNESCO Homepage</a>
                                <a href="http://ec.europa.eu/education/lifelong-learning-programme/comenius_de.htm" class="list-group-item">Comenius</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#terminPanel">
                                Termine
                            </a>
                        </h4>
                    </div>
                    <div id="terminPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="calendar">
                                <ul class="list-group">
                                    {% for event in events %}
                                    <li class="list-group-item"><a data-container="body" data-toggle="popover" data-placement="left" data-title="{{event.date}}" data-content="{{event.description}}" >{{event.name}}</a>
                                        {% if perms.comenius.can_add_event %}
                                            <div class="pull-right"><a href="{% url 'comenius:event-update' pk=event.pk %}"><span class="glyphicon glyphicon-edit"></span></a></div>
                                        {% endif %}
                                    </li>
                                    {% empty %}
                                    Keine Termine!
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if user.is_staff %}
                                <a href="{% url 'comenius:event-create' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Event hinzuf&uuml;gen</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#austauschPanel">
                                Austausch
                            </a>
                        </h4>
                    </div>
                <div id="austauschPanel" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/reports/1/">Luxemburg</a></li>
                        <li class="list-group-item"><a href="">&Ouml;sterreich</a></li>
                        <li class="list-group-item"><a href="">Schweiz</a></li>
                        <li class="list-group-item"><a href="">Deutschland</a></li>
                    </ul>
                </div>
            </div>
        {% endblock aside %}
        </aside>
    </section>
    <footer><div>Dieses Projekt wurde mit Unterstützung der Europäischen Kommission finanziert. Die Verantwortung für den Inhalt dieser Veröffentlichung (Mitteilung) trägt allein der Verfasser, die Kommission haftet nicht für die weitere Verwendung der darin enthaltenen Angaben.</div><img class="media-object pull-right" src="{% static 'comenius/imgs/pfll.jpg' %}">
        </footer>
{% endblock container %}>
