{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'comenius/css/style.css' %}" rel="stylesheet" media="screen">
{% endblock style %}


{% block navigation %}
    {% include 'comenius/navbar.html' with appname=appname site=site%}
{% endblock navigation %}


{% block container %}
    <header>
    {% block header %}
        <h1>{{title}}</h1>
        {% block subtitle %}
        <p>Here comes a descriptive text and so on...</p>
        {% endblock %}
    {% endblock header %}
    </header>
    <section class="container">
        <article class="main">
        {% block main %}
        {% endblock main %}
        </article>
        <aside>
        {% block aside %}
            <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#aboutPanel">
                    About
                </a>
            </h4>
        </div>
        <div id="aboutPanel" class="panel-collapse collapse">
            <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life
        accusamus terry richardson ad squid. 3 wolf moon officia aute, 
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
        bird on it squid single-origin coffee nulla assumenda shoreditch
        et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
        vice lomo. Leggings occaecat craft beer farm-to-table, 
        raw denim aesthetic synth nesciunt you probably haven't 
        heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#infoPanel">
                    Info
                </a>
            </h4>
        </div>
        <div id="infoPanel" class="panel-collapse collapse">
            <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life
        accusamus terry richardson ad squid. 3 wolf moon officia aute, 
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
        bird on it squid single-origin coffee nulla assumenda shoreditch
        et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
        vice lomo. Leggings occaecat craft beer farm-to-table, 
        raw denim aesthetic synth nesciunt you probably haven't 
        heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
        {% endblock aside %}
        </aside>
    </section>
{% endblock container %}
