{% extends 'comenius/base.html' %}


{% block header %}
<h2>{{title}}</h2>
<h3>
    <ol class="breadcrumb">
        {% for category in categories %}
            {% if category == object %}
                <li class="active">{{category.name}}</li>
            {% else %}
                <li><a href="{% url 'comenius:category-detail' slug=category.slug %}">{{category.name}}</a></li>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
                <li><a href="{% url 'comenius:project-create' %}">Hinzuf&uuml;gen</a></li>
        {% endif %}
    </ol>
</h3>
{% endblock header %}

{% block main %}
    {% for project in category.project_set.all %}
        <a href="{% url 'comenius:project-detail' slug=project.slug %}">{{project.title}}</a>
    {% endfor %}
{% endblock main %}
