{% extends 'comenius/category_list.html' %}
{% load comenius_extra %}
{% load thumbnail %}


{% block main %}
    {% for project in category.project_set.all %}
        <section class="preview" style="padding-bottom=20px">
            <div>
                {% thumbnail project.album.images.all.0.image "200" as im %}
                <img class="" src="{{im.url}}">
                {% endthumbnail %}
                <div class="text">
                    <h4>
                        <a href="{% url 'comenius:project-detail' slug=project.slug %}">
                            {{project.title}}
                        </a>
                    </h4>
                    {{project.short_desc|slice:":300"|add:"..."|markup}}
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock main %}
