{% extends 'comenius/base.html' %}
{% load staticfiles %}

{% block header %}
    <div class="img-heading">
        <img src="{% static 'comenius/imgs/headers/building.jpeg' %}"></img>
    </div>
{% endblock header %}

{% block main %}
November 2011: Die Nationalkoordinatoren der UNESCO-Schulnetzwerke sowie Lehrerinnen, Lehrer, Schülerinnen und Schüler vom Bundesgymnasium Dornbirn/Österreich, der Kantonsschule Wohlen/Schweiz und der Ecole Privée Sainte-Anne Ettelbruck/Luxemburg treffen sich am Droste-Hülshoff-Gymnasium in Freiburg, um gemeinsam ein länderübergreifendes Pilotprojekt zum Thema Nachhaltigkeit ins Leben zu rufen. Das war die Geburt des Projekts „Nachhaltiges Handeln an Sekundarschulen“.
 
Jede der vier beteiligten Schulen beschäftigt sich fortan entweder im Unterricht oder in Projektarbeit mit den Themen Verkehr/Mobilität, Umweltschutz, Energie und Ernährung.
<script>
$(document).on('click', '.expand', function (event) {
    $(this).toggleClass('list_item collapse').next().toggle();
});
</script>
<div id="more" class="hidden">
Durch die kontinuierliche, längerfristige Arbeit am Projekt soll ein grenzüberschreitendes Gemeinschafts- und Zusammengehörigkeitsgefühl entstehen, welches eigentlich das Ziel des internationalen UNESCO-Schulnetzwerks und für das zusammenwachsende Europa unerlässlich ist. Nach einem zweiten Treffen im Herbst 2012 in Ettelbrück/Luxemburg (Link) wurde beschlossen, sich um die Förderung als Comenius-Projekt zu bemühen.
In einem weiteren Treffen der verantwortlichen Lehrerinnen und Lehrer der vier beteiligten Schulen und in viel vorbereitender Heimarbeit wurde der Antrag zur finanziellen Förderung des Nachhaltigkeitsprojekts durch das EU-Comenius-Programm fertiggestellt. Schließlich wurde der Antrag im Juli 2013 genehmigt. Die finanzielle Förderung ermöglicht es uns nun, mehr Schülerinnen und Schüler zu den Austauschtreffen am Austausch zu beteiligen als bisher. Dadurch kann die Begegnung auf eine breitere Basis gestellt und das internationale Nachhaltigkeitsprojekt präsenter im Schulleben verankert werden.
</div>
{% endblock main %}
