{% extends 'comenius/base.html' %}
{% load staticfiles %}
{% block main %}
Hide when guests come over behind the couch, yet play time. Why must they do that lick butt chase mice chase imaginary bugs but stretch intently sniff hand stare at ceiling. Under the bed nap all day. Hate dog. Mark territory behind the couch stare at ceiling and use lap as chair for make muffins why must they do that but hunt anything that moves. Find something else more interesting. Under the bed rub face on everything sun bathe sleep on keyboard leave hair everywhere. 

Chew foot play time. Hopped up on goofballs shake treat bag throwup on your pillow, but cat snacks. Flop over hopped up on goofballs or climb leg. Find something else more interesting. Inspect anything brought into the house leave dead animals as gifts and sweet beast. 

Sweet beast need to chase tail for all of a sudden go crazy, but run in circles chew iPad power cord for use lap as chair. Use lap as chair why must they do that, attack feet. Hide when guests come over stick butt in face so chase imaginary bugs. Flop over hide when guests come over. Hate dog. Intrigued by the shower rub face on everything or hunt anything that moves and chew foot. Behind the couch make muffins or stick butt in face. Flop over nap all day, why must they do that missing until dinner time. Missing until dinner time hate dog intently stare at the same spot climb leg for chase imaginary bugs rub face on everything. Stand in front of the computer screen hunt anything that moves hide when guests come over. All of a sudden go crazy inspect anything brought into the house for intently stare at the same spot use lap as chair need to chase tail sweet beast. 
{% endblock main %}

{% block aside %}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#aboutPanel">
                    About
                </a>
            </h4>
        </div>
        <div id="aboutPanel" class="panel-collapse collapse">
            <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life
        accusamus terry richardson ad squid. 3 wolf moon officia aute, 
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
        bird on it squid single-origin coffee nulla assumenda shoreditch
        et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
        vice lomo. Leggings occaecat craft beer farm-to-table, 
        raw denim aesthetic synth nesciunt you probably haven't 
        heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#infoPanel">
                    Info
                </a>
            </h4>
        </div>
        <div id="infoPanel" class="panel-collapse collapse">
            <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life
        accusamus terry richardson ad squid. 3 wolf moon officia aute, 
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
        bird on it squid single-origin coffee nulla assumenda shoreditch
        et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
        vice lomo. Leggings occaecat craft beer farm-to-table, 
        raw denim aesthetic synth nesciunt you probably haven't 
        heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
{% endblock aside %}
