<form action='{% url 'comenius:login' %}?next={{request.path}}' role='form' method='post'>
    {% csrf_token %}
    <div class='form-group'>
        <input class='form-control' type='text' name='username' placeholder='Benutzername' />
    </div>
    <div class='form-group'>
        <input class='form-control' type='password' name='password' placeholder='Passwort' />
    </div>
    <input type='hidden' name='next' value='{{request.path}}' />
    
    <button type='submit' class='btn btn-primary'>Login</button>
</form>
