<nav role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{homeurl}}">{{appname}}</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            {% for subsite in site %}
                {% include "nav_point.html" with site=subsite only %}
            {% endfor %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'comenius:logout' %}">Logout</a></li>
            {% else %}
                <li>
                    <a id="login" data-container="body" data-toggle="popover" data-placement="bottom"
                       data-content="{% include 'comenius/login_form.html' %}" data-html="true">Login</a>
                </li>
                <script>
                    $(function () {
                        $("[data-toggle='tooltip']").tooltip();
                    });
                    $(function () {
                        $("[data-toggle='popover']").popover();
                    });
                </script>
            {% endif %}
            </ul>
            <form class="navbar-form navbar-right" role="search" action="{% url 'comenius:search' %}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>
